.checkout-side-menu {
    width: 360px;
    height: calc(100vh - 68px);
    top: 68px;
}

.scrollable-cards {
	overflow: scroll;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .scrollable-cards {
    scrollbar-width: auto;
    
		/* overflow-x: hidden; */
  }

  /* Chrome, Edge, and Safari */
  .scrollable-cards::-webkit-scrollbar {
    width: 6px;
		/* overflow-x: hidden; */
  }

  .scrollable-cards::-webkit-scrollbar-track {
    background: #E4E4E4;
		/* overflow-x: hidden; */
  }

  .scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #BCAAF0;
    border-radius: 10px;
		/* overflow-x: hidden; */
  }